@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@300&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
 font-family: 'Noto', serif;
 font-size: 18px;
 margin: 0px;
}

h1,h2,h3 {
	font-family:'Oswald', sans-serif;
	font-weight: bold;
}

a {
	text-decoration: none;
}


